*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: "Heebo", sans-serif;
    padding: 0.5rem 5rem;
}

header nav ul{
    display: flex;
    float: right;
    align-items: center;
    gap: 1rem;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
    color: #131313;
}

section h2:nth-of-type(1){
    margin-top: 3rem;
}

section div:nth-of-type(1){
    margin-top: 1.5rem;
}

section div:nth-of-type(2){
    margin-top: 1.5rem;
}

section div:nth-of-type(3){
    margin-top: 1.5rem;
}

section div:nth-of-type(4){
    margin-top: 1.5rem;
}

.gt{
    margin-top: 1rem;
}

footer{
    height: 25vh;
    width: 25vh;
    background: #fff;
}

footer i.bxl-facebook-square{
    margin-left: 10rem;
    position: relative;
    top: 6.2rem;
    font-size: 30px;
}

footer i.bxl-instagram{
    margin-left: 13rem;
    position: relative;
    top: 4.2rem;
    font-size: 30px;
}

footer i.bxl-twitter{
    margin-left: 16rem;
    position: relative;
    top: 2.2rem;
    font-size: 30px;
}   

footer i.bxl-linkedin{
    margin-left: 19rem;
    font-size: 30px;
}




@media screen and (max-width: 700px){
    .navlis{
        display: none;
    }

    footer{
        height: 15vh;
        background: #fff; 
     }

     footer i.bxl-facebook-square{
        margin-left: 5rem;
        
     }

     footer i.bxl-instagram{
        margin-left: 8rem;
     }
    
     footer i.bxl-twitter{
       margin-left: 11rem;
       
     }

     footer i.bxl-linkedin{
        margin-left: 14rem;
        margin-top: 3rem;
        position: relative;
        bottom: 3rem;
     }   
      }
 
    


