*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: "Heebo", sans-serif;
    padding: 0.5rem 5rem;
}

header nav ul{
    display: flex;
    float: right;
    align-items: center;
    gap: 1rem;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
    color: #131313;
}

section h2:nth-of-type(1){
    margin-top: 3rem;
}

section div:nth-of-type(1){
    margin-top: 1.5rem;
}

section div:nth-of-type(2){
    margin-top: 1.5rem;
}

section div:nth-of-type(3){
    margin-top: 1.5rem;
}

section div:nth-of-type(4){
    margin-top: 1.5rem;
}

.gt{
    margin-top: 1rem;
}

footer{
    height: 25vh;
    width: 25vh;
    background: #fff;
}

footer i.bxl-facebook-square{
    position: relative;
    top: 7rem;
    left: 26rem;
    font-size:35px;
}

footer i.bxl-instagram{
    position: relative;
    left: 27rem;
    top: 7rem;
    font-size:35px
}

footer i.bxl-twitter{
    position: relative;
    left: 28rem;
    top: 7rem;
    font-size: 35px;
}

footer i.bxl-linkedin{
    position: relative;
    left: 29rem;
    font-size: 35px;
    top: 7rem;
}


@media screen and (max-width: 700px){
    .navlis{
        display: none;
    }

    footer{
        height: 15vh;
    }

    footer i.bxl-facebook-square{
    position: relative;
    left: 3rem;
    }

    footer i.bxl-instagram{
        position: relative;
        left: 4rem;
    }

    footer i.bxl-twitter{
        position: relative;
        left: 5rem;
    }

    footer i.bxl-linkedin{
        position: relative;
        left: 6rem;
     }

}
